ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(16, 12, 70);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(11, 8, 48);
  }

  /*Clases*/
  .active {
    background-color: #0704aa;
  }

  .texticon{
    vertical-align: bottom;
  }

.button1{
    background-color: #0704aa!important;
    border-radius: 5px;
    border-color: #046daa;
    color: white;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 6px 9px;
}

.titulo{
    color: white;
    text-align: center;
    text-shadow: 4px 4px #046daa;
    font-size: 50px;
    font-family: sans-serif;
}

.subtitulocentro{
    color: white;
    text-decoration: underline;
    text-align: center;
    text-shadow: 2px 2px #046daa;
    font-size: 25px;
    font-family: sans-serif;
}
.subtituloizq{
    color: white;
    text-decoration: underline;
    text-align: left;
    text-shadow: 2px 2px #046daa;
    font-size: 25px;
    font-family: sans-serif;
}