header {
  width: 100%;
  background: #511ba8;
}

header label {
  display: none;
  width: 36px;
  height: 30px;
  padding: 10px;
  border: 1px solid rgba(165, 98, 219, 0.192);
}

header label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}

.menu ul{
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.menu li {
  text-align: center;
  flex-grow: 1;
  border: 1px solid rgba(165, 98, 219, 0.192);
}

.menu li:hover {
  background: rgba(0, 0, 0, 0.3);
}

.menu li a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}

#boton-menu {
  display: none;
}

@media (max-width:768px) {
  header label {
    display: block;
  }

  .menu {
    position: absolute;
    background: #511ba8;
    width: 50%;
    margin-left: -80%;
    transition: all 0.3s;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu li {
    border: 1px solid rgba(165, 98, 219, 0.192);
  }

  #boton-menu:checked ~ .menu {
    margin: 0;
  }
}

.titulo {
  color: white;
  text-align: center;
  text-shadow: 4px 4px #046daa;
  font-size: 50px;
  font-family: sans-serif;
}

.sCenter {
  color: white;
  text-decoration: underline;
  text-align: center;
  text-shadow: 2px 2px #046daa;
  font-size: 25px;
  font-family: sans-serif;
}

.sLeft {
  color: white;
  text-decoration: underline;
  text-align: left;
  text-shadow: 2px 2px #046daa;
  font-size: 25px;
  font-family: sans-serif;
}

.button1 {
  background-color: #0704aa;
  color: white;
  border-radius: 50px;
  border: 2px solid #046daa;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: larger;
  margin-bottom: 3%;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

.button1:hover {
  background-color: #046daa;
  color: white;
}

.info {
  color: white;
  height: 100%;
  width: 47%;
  display: inline-block;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  vertical-align: middle;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.info p {
  background-color: #ffffff31;
  border-radius: 15px;
}

.cuadro {
  background-color: #05045e;
  border-radius: 3%;
  border: 3px solid #046daa;
  padding: 5px 10px;
  height: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.reg {
  color: rgb(201, 201, 201);
  font-size: 25px;
  font-family: sans-serif;
  display: table-cell;
  vertical-align: middle;
}

.reg p {
  width: 50%;
  font-weight: 500;
  text-align: center;
  border-right: #046daa groove 3px;
}

.reg form {
  border-left: #046daa ridge 3px;
  text-align: right;
}

.reg label {
  color: rgb(201, 201, 201);
  font-weight: bold;
  font-size: 20px;
  height: 30px;
}

.reg input[type=text], [type=password] , [type=email] {
  color: rgb(95, 95, 95);
  background-color: rgb(224, 223, 223);
  font-weight: bold;
  text-align: center;
  height: 30px;
  width: 30%;
  border: #046daa solid 3px;
  margin-right: 15px;
  margin-bottom: 2.5%;
  border-radius: 30px;
  padding: 0px 5px;
}

.reg select {
  color: rgb(95, 95, 95);
  background-color: rgb(224, 223, 223);
  font-weight: bold;
  text-align: center;
  height: 35px;
  width: 32.5%;
  border: #046daa solid 3px;
  margin-right: 15px;
  margin-bottom: 2.5%;
  border-radius: 30px;
  padding: 0px 5px;
}

.reg input[type=submit] {
  background-color: #0704aa;
  color: white;
  border-radius: 50px;
  border: 2px solid #046daa;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: large;
  margin-right: 40%;
}

.reg input:hover , select:hover {
  border-color: greenyellow;
}

.link1 {
  color: yellow;
  cursor: pointer;
  text-decoration: none;
}

.link1:hover {
  color: greenyellow;
}

body {
  background-color: black;
  background-image: url('../Img/Fondo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

footer {
  text-align: center;
}

span {
  background-color: #ffffff31;
  border-radius: 100px;
  padding: 5px 10px;
}